<div class="row">
    <div class="col-sm-4">
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Sandwich</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Menoum menoum</td>
                    <td class="price">3.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Sandwich</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Pita Mexicain</td>
                    <td class="price">4.00</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr class="header">
                    <th span="2">Boissons</th>
                </tr>
            </thead>
            <tbody>
                <tr class="menu_item">
                    <td class="item">Jus de pomme</td>
                    <td class="price">4.00</td>
                </tr>
                <tr class="menu_item">
                    <td class="item">Extrait de Caribou</td>
                    <td class="price">3.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

