<table>
<thead>
<tr class="header">
<th>Sandwich</th>
<th style="text-align: right;">price</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Pita Mexicain</td>
<td style="text-align: right;">4,00</td>
</tr>
<tr class="even">
<td>Menoum menoum</td>
<td style="text-align: right;">3,00</td>
</tr>
</tbody>
</table>
